body {
    background-image : url("background.png");
    background-repeat: repeat-y;
    background-position: 35% 65%;
}

.box {
    border: 1px black;
    display: flex;
}

header {
    background: linear-gradient(96deg, rgba(46,217,226,1) 0%, rgba(59,64,226,1) 48%, rgba(162,46,226,1) 100%);    display: flex;
    justify-content: center;
    color : white;
}

button {
    display: flex;
    justify-content: center;
}


.mb-3 {
    display: flex;
    justify-content: center;
}

.box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


#content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border: black 3px
}


#tempmin{
    font-size:1rem;
}

#ress {
    display: flex;
    justify-content: center;
}
#wind {
    display: flex;
    justify-content: center;
}
#winddeg {
    display: flex;
    justify-content: center;
}
#humidity {
    display: flex;
    justify-content: center;
}
#but_meteo {
    border-radius: 70px;
    opacity: 90%;
    border:3mm outset rgba(59,64,226,1);
}
.box-container {
    margin-left: 3%;
}


#tempmax{
    font-size:1rem;
}

.bi-thermometer-high {
    font-size: 1rem;
}

.bi-thermometer-low{
    font-size: 1rem
}

#name {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

#temp{
    font-size: 2rem;
}

.col {
    display: flex;
    justify-content: center;
}